.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headercontainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerDesc{
    margin: 20px 0px;
}
.headerBtn{
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.headerSearch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #febb02;
    padding: 10px 0px;
    height: 55px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    background-color: white;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color:  lightgray;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchText{
    color: lightgray;
}
.headersearchinput{
    border: none;
    outline: none;
}
